{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_filter.css') }}">
{% endblock styles %}

{% block content %}
<h2>Добавление фильтра</h2>

<form method="post" action="" class="add-form">
    <input type="text" name="name" placeholder="Название фильтра">
    <div>
        <label for="is_regex">Regexp:</label>
        <input type="checkbox" name="is_regex" value="0">
    </div>
    <label for="action">Тип действия фильтра:</label>
    <select name="action">
        <option value="">-- выбрать -- </option>
        <option value="SKIP">Пропустить эту пересылку</option>
        <option value="PAUSE">Приостановить всю пересылку в этот канал</option>
        <option value="REPLACE">Заменить паттерн на замену</option>
    </select>
    <label for="scope">Область влияния фильтра:</label>
    <select name="scope">
        <option value="">-- выбрать -- </option>
        <option value="RECIPIENT">Во всех сообщениях для определенного канала-получателя</option>
        <option value="DONOR">Во всех сообщениях из определенного канала-донора</option>
        <option value="GLOBAL">Везде</option>
    </select>
    <label for="recipient_id">Канал-получатель (только если область влияния - канал-получатель):</label>
    <select name="recipient_id">
        <option value="">-- выбрать -- </option>
        {% for recipient in recipients %}
        <option value="{{ recipient.id }}">{{ recipient.name }}</option>
        {% endfor %}
    </select>
    <label for="donor_id">Канал-донор (только если область влияния - канал-донор):</label>
    <select name="donor_id">
        <option value="">-- выбрать -- </option>
        {% for donor in donors %}
        <option value="{{ donor.id }}">{{ donor.name  }} (для '{{ donor.recipient_channel.name }}')</option>
        {% endfor %}
    </select>
    <label for="pattern">Что искать:</label>
    <input type="text" name="pattern" placeholder="паттерн">
    <label for="replace_with">На что заменять (только если тип действия фильтра - замена):</label>
    <input type="text" name="replace_with" placeholder="замена">
    <input type="submit" value="Добавить">
</form>
{% endblock %}