{% extends "base.html" %}

{% block content %}
<h1>Добавление дополнительного канала-донора для {{ recipient.name }}</h1>
<form action="" method="POST">
    <label for="donor">Откуда брать:</label>
    <select name="donor" required>
        <option value="">-- выберите канал-донор --</option>
        {% for channel in possible_donor_channels %}
        <option value="{{ channel.id }}">{{ channel.title }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Добавить">
</form>
{% endblock %}